ACC_NUMBER=
API_KEY=
OCTOPUS_LOGIN_EMAIL=
OCTOPUS_LOGIN_PASSWD=
TARIFFS=go,agile,flexible,cosy
TZ=Europe/London
EXECUTION_TIME=23:30
SWITCH_THRESHOLD=2
ONE_OFF=true
DRY_RUN=true
TEST_PLAYWRIGHT=false
NOTIFICATION_URLS=
WEB_USERNAME=admin
WEB_PASSWORD=
